.form-place-holder {
    height: 74vh !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex;
}

.SortableItem.rfb-item {
    width: 100% !important;
}